
html{
    width: 100vw;
    height: 100vh;
    background: #FFFFFF;   
}

*{
    padding: 0;
    margin: 0;
}
body{
    
}

@font-face {
    font-family: 'Inter';
    src: url(../font/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: 'Mullis';
    src: url('../font/Mulish/static/Mulish-Regular.ttf');
}

header{
    /* border:0.5em solid red; */
    /* height: 10vh; */
    
}

header .top-navbar-desktop{
    /* border:0.5em solid blue; */
    height: 8.5vh;
    margin-top: 1em;
    display: flex;
    align-items: center;
    gap: 5em;    
}


header .top-navbar-desktop img{
    width: 10em;
    object-fit: cover;
    margin-left: 5rem;
}

header .top-navbar-desktop a{
    font-family: 'Mullis';
    font-size: 1em; 

}

.top-navbar-desktop button{    
    margin-left: auto;
    margin-right: 8rem;
    background-color: #5F2EEA;       
    width: 7rem;
    height: 3rem;

    text-align: center;
    text-decoration: none;
    font-family: 'Mullis';
    letter-spacing: 0.1em;
    border: 0px;
    border-radius: 4px;
    color: #fff;
}

.top-navbar-mobile {
    display:none;
    overflow: hidden;

    border-bottom: 0.2rem solid #DEDEDE;
    padding: 1rem 0;
    padding-left: 1rem;
    background-color: white;

    position: relative;

  }
  
  .top-navbar-mobile #myLinks {
    display: none;
    text-align: center;
    font-family: 'Mullis';
    color:#5F2EEA


  }
  
  .top-navbar-mobile a {
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .top-navbar-mobile a.icon {

    border: 1px solid #DEDEDE;
    border-radius: 5px;
    display: block;
    position: absolute;
    top:1rem;
    right: 0rem;

  }
  
  .top-navbar-mobile a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    color: white;
    width: 10em;
    object-fit: contain;
  }

.container-1{
    display: flex;  
    align-items: center;
    justify-content: space-between;
    padding: 5rem 0;
    flex-wrap: wrap;
    /* border: 0.5em solid yellow */
}

.container-1 .section-text-1{

    font-family: 'Mullis';
    margin-left: 5rem;

    .nearest-cinema{
        margin: 0;
        font-size: 1.6em;
       
        color:#A0A3BD;

    }

    .find-out{        
        margin: 0;
        font-size: 4em;
        font-weight: 1000;
        color:#5F2EEA;
    }
}

.container-1 .section-banner-1{
    /* border: 0.5em solid red; */
    display:flex;
    gap: 1em;
    margin-right: 14em;
    
    .shadow-banner-1{      
        height: 353px;
        background: black;
        margin-top: 4em;
        
        border-radius: 10px;
        
    }

    .shadow-banner-2{      
        height: 353px;
        background: black;
        margin: 2em 0 ;
        
        border-radius: 10px;
        
    }

    .shadow-banner-3{      
        height: 353px;
        background: black;
        margin-bottom: 4em;
        border-radius: 10px;
        
    }

    .banner-1{
        border-radius: 10px;
        opacity: 0.7;
        box-shadow: 10px 10px 25px rgba(0,0,0,0.3);
        object-fit: cover;
        
    }

    .banner-2{
        border-radius: 10px;
        
        opacity: 0.7;
        box-shadow: 10px 10px 25px rgba(0,0,0,0.3);
        object-fit:cover;
    }

    .banner-3{
        border-radius: 10px;
        opacity: 0.7;
        box-shadow: 10px 10px 25px rgba(0,0,0,0.3);
        object-fit: cover;
    }

}

.container-2{
    /* border: 0.5em solid green; */
    background-color:  #F5F6F8;
    height: auto;
    display: flex;
    padding:100px 0px;
    flex-direction: column;

}

.section-text-2{
    /* border: 0.5em solid red; */
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 5em 0 5em;
    margin-bottom: 20px;
    font-family: 'Mullis';
    color:#5F2EEA;
    .now-showing{      
        font-size: 1.5em;
        font-weight: 600;
        color: #5F2EEA;
        margin-bottom: 0px;
    }

    .view-all{
        text-decoration: none;
        color:inherit;
    }

    .border-text{
        border-bottom: 0.2em solid #5F2EEA;
        margin:7px 30px 0 30px;
    }
}



.container-2 .section-banner-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:2em;

    /* padding:0 4em 0 7em; */

    .wrap-poster-title{       
        
        height: 250px;

        display: flex;
        flex-direction: column;
        align-items: center;        
        
        /* background-color: #5F2EEA; */
        border: 2px solid #FFFFFF;
        border-radius: 5px;
        padding: 0px 25px 50px 25px;
        padding-top: 0;
        
    }

    .poster{
        margin-top: 25px;

    }

    .box-poster{
        
        position: absolute;
        height: 400px;
        width: 160px;

        display: none;        
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        background:white;
        box-shadow: 0px 8px 30px rgba(186, 186, 186, 0.25);
        padding:0 27px;
        padding-bottom: 25px;
        border-radius: 5px;
        z-index: 0;
        
    }

    .wrap-poster-title:hover .box-poster{
        display: flex;
    }
    

}


.poster{

    width: 160px;
    height: 250px;
    z-index: 1;
    object-fit: cover;
}

.title-movie{
    width: 75%;
    text-align: center; 
    font-family: 'Mullis';
    letter-spacing: 0.03em;
    
}

.genre{
    margin-top: 2px;
    padding-bottom: 20px;
    font-family:'Mullis';
    font-size: 0.8em;
    color:#A0A3BD;
}

.button-details{
    
    width: 160px;
    height: 2.5em;
    background-color: white;
    
    font-family: 'Mullis';
    color:#5F2EEA;
    border: 0.1em solid #5F2EEA;
    border-radius: 5px;
}


.container-3{
    display: flex;
    flex-direction: column;
    height: auto;
    /* border: 0.5em solid red */
}

.container-3  .section-month-button{
    /* border: 0.5em solid red; */
    display: flex;
    gap: 10px;
    padding:2em 5em 0 5em;
}

.container-3  .section-month-button button{
    width: 500px;
    height: 2.5em;
    background-color: white;
    
    font-family: 'Mullis';
    color:#5F2EEA;
    border: 0.1em solid #5F2EEA;
    border-radius: 5px;
}

.container-3  .section-month-button button:hover{
    background-color: #5F2EEA;
    color: #FFFFFF;
    box-shadow: 0px 8px 30px rgba(95, 46, 234, 0.3);

}

.container-3 .section-banner-3{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;

    .wrap-poster-title{       
        
        height: 350px;
        display: flex;
        flex-direction: column;
        align-items: center; 

        padding:25px;
        border: 1px solid #DEDEDE;
        border-radius: 5px;
  
        margin-top: 20px;
        
    }

    .title-movie{
        margin-top: 10px;
    }
}

.container-4{
    display: flex;
    width: 85%;
    background-color: #FFFFFF;
    box-shadow: 0px 16px 32px rgba(186, 186, 186, 0.3);
    flex-direction: column;
    align-items: center;
    margin: 3em auto 0 auto;
    padding: 2em;
}

.container-4 p{
    font-family: 'Mullis';
    font-size: 1.75em;
    color:#4E4B66;
}

.container-4 .moviegoers{

    font-size: 3.5em;
    color:#5F2EEA;
}

.container-4 form input[type=text]{
    padding-left: 20px;
    margin-top: 2em;
    width: 20em;
    height: 3.5em;
    font-family: 'Mullis';
    border: 2px solid #DEDEDE;
    border-radius: 5px;
    color:#5F2EEA;
}

.container-4 form input[type=submit]{

    width: 10em;
    height: 3.8em;
    background: #5F2EEA;;
    margin-left: 10px;
    font-family: 'Mullis';
    font-weight: 1000;
    letter-spacing: 0.1em;

    border: 2px solid #5F2EEA;
    border-radius: 5px;
    color: #fff;;
}

.container-4 .wrap-text-container4{
    
    width: 22rem;
    margin-top: 4em;
    text-align: center;
    font-size: 0.5em;
    line-height: 3em;

    color: #6E7191;
}

footer{
    margin-top: 10em;
    padding-bottom: 3em;
    /* border:0.5em solid blue;   */
}

.container-footer{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left:5em;
    /* border:0.5em solid blue;     */
    gap: 4em;
}

.container-footer .logo-tickitz-footer{
    width: 12em;
}

.container-footer div img{
    width: 7em;
}

.container-footer div{
    display:flex;
    flex-direction: column;
    gap:1em;
    /* border: 0.5em solid green; */
}


.text-logo-tickitz{
    width: 20rem;
}




.container-footer nav{
    display:flex;
    flex-direction: column;
    gap:1em;
}


.container-footer nav img{
    width: 1em;
}

.container-footer p{
    font-family: 'Mullis';
    margin-bottom: 5px;
    line-height: 30px;
}

.container-footer a{
    font-family: 'Mullis';
    align-items: center;
    color:#6E7191;
}

.footer-nav-social-media{
    display: flex; align-items: center; gap:0.3em;
}

.copyright{
    font-family: 'Mullis';
    margin-top: 2em;
    text-align: center;
}


@media screen and (max-width: 1099px) {
    

    header .top-navbar-desktop{
        display: none;
    }
    header .top-navbar-desktop{
        display:none;
        
    }

    header .top-navbar-mobile{
        display:block;


    }
    .container-1{
        flex-direction: column;
        text-align: center;
        line-height: 75px;
        justify-content: center;
        gap: 5rem;

    }

    .container-1 .section-text-1{
        
        margin: 0;
        padding: 0;
    }

    .container-1 .section-banner-1{
        margin: 0;
        /* margin-left: 5em; */
    }
    .container-3  .section-month-button{
        display: inline-block;
        /* border: 1px solid red; */
        text-align: center;
        padding: 1rem 0;
        margin: 0 5em;
        overflow-x: scroll;
        white-space: nowrap;
    }

    .container-3  .section-month-button button{
        width: 100px;
    }

    .container-4 form input[type=text]{
        width: 15em;
    }
    
    .container-4 form input[type=submit]{
        width: 6em;
    }

    .container-footer{
        flex-direction: column;
        .text-logo-tickitz{
            width: auto;
        }
    }
}

@media screen and (max-width: 1220px) {
    
    .section-banner-2 .p1{
        z-index: 20;
    }

    
    .wrap-poster-title:hover .bp1{
        z-index: 19;
        padding-bottom: 20px;
    }

    .section-banner-2 .p2{
        z-index: 18;
    }

    
    .wrap-poster-title:hover .bp2{
        z-index: 17;
        padding-bottom: 20px;
    }

    .section-banner-2 .p3{
        z-index: 16;
    }

    
    .wrap-poster-title:hover .bp3{
        z-index: 15;
        padding-bottom: 20px;
    }

    .section-banner-2 .p4{
        z-index: 14;
    }

    
    .wrap-poster-title:hover .bp4{
        z-index: 13;
        padding-bottom: 20px;
    }

    .section-banner-2 .p5{
        z-index: 12;
    }

    
    .wrap-poster-title:hover .bp5{
        z-index: 11;
        padding-bottom: 20px;
    }

    .container-3 .section-banner-3{
        margin: 0 5em;
        overflow-x: scroll;
        justify-content: start;
        flex-wrap: nowrap;
        gap: 2em;
    }

}

@media screen and (max-width: 1099px) {
    

    header .top-navbar-desktop{
        display: none;
    }
    header .top-navbar-desktop{
        display:none;
        
    }

    header .top-navbar-mobile{
        display:block;


    }
    .container-1{
        flex-direction: column;
        text-align: center;
        line-height: 75px;
        justify-content: center;
        gap: 5rem;

    }

    .container-1 .section-text-1{
        
        margin: 0;
        padding: 0;
    }

    .container-1 .section-banner-1{
        margin: 0;
        /* margin-left: 5em; */
    }
    .container-3  .section-month-button{
        /* display: inline-block; */
        /* border: 1px solid red; */
        text-align: center;
        padding: 1rem 0;
        margin: 0 5em;
        overflow-x: scroll;
        white-space: nowrap;
    }

    .container-3  .section-month-button button{
        width: 100px;
    }

    .container-4 form input[type=text]{
        width: 15em;
    }
    
    .container-4 form input[type=submit]{
        width: 6em;
    }

    .container-footer{
        flex-direction: column;
        .text-logo-tickitz{
            width: auto;
        }
    }
}

@media screen and (max-width: 700px){
    .section-text-2{
        font-size: 0.8em;
        padding: 0 1em;
    }

    .container-3 .section-banner-3{
        margin: 0 1em;
 
    }

    .container-3  .section-month-button{
        /* display: inline-block; */
        /* border: 1px solid red; */
        text-align: center;
        padding: 1rem 0;
        margin: 0 1em;
        overflow-x: scroll;
        white-space: nowrap;
    }

}

@media screen and (max-width: 425px){
    .container-1 .section-text-1{

        font-family: 'Mullis';
        
    
        .nearest-cinema{
            margin-bottom: -2.5em;
            font-size: 1em;
           
            color:#A0A3BD;
    
        }
    
        .find-out{        
            margin: 0;
            font-size: 2.5em;
            font-weight: 1000;
            color:#5F2EEA;
        }
    }
    
    .container-1 .section-banner-1{
        gap: 0.5em;
        .shadow-banner-1{      
            height: 250px;
            background: black;
            margin-top: 4em;
            
            border-radius: 10px;
            
        }
    
        .shadow-banner-2{      
            height: 250px;
            background: black;
            margin: 2em 0 ;
            
            border-radius: 10px;
            
        }
    
        .shadow-banner-3{      
            height: 250px;
            background: black;
            margin-bottom: 4em;
            border-radius: 10px;
            
        }
        .banner-1{
            height: 250px;
            border-radius: 10px;
            opacity: 0.7;
            box-shadow: 10px 10px 25px rgba(0,0,0,0.3);
            object-fit: cover;
            
        }
    
        .banner-2{
            height: 250px;
            border-radius: 10px;
            opacity: 0.7;
            box-shadow: 10px 10px 25px rgba(0,0,0,0.3);
            object-fit:cover;
        }
    
        .banner-3{
            height: 250px;
            border-radius: 10px;
            opacity: 0.7;
            box-shadow: 10px 10px 25px rgba(0,0,0,0.3);
            object-fit: cover;
        }
    
    }

    .container-4 p{
        font-family: 'Mullis';
        font-size: 1em;
        color:#4E4B66;
    }
    
    .container-4 .moviegoers{
    
        font-size: 2.5em;
        color:#5F2EEA;
    }
    
    .container-4 form input[type=text]{
        padding-left: 20px;
        margin-top: 2em;
        width: 10em;
        height: 3.5em;
        font-family: 'Mullis';
        border: 2px solid #DEDEDE;
        border-radius: 5px;
        color:#5F2EEA;
    }
    
    .container-4 form input[type=submit]{
        box-sizing: border-box;
        width: 6em;
        height: 3.5em;
        background: #5F2EEA;;
        margin-left: 10px;
        font-size: 0.8em;
        font-family: 'Mullis';
        font-weight: 1000;
        letter-spacing: 0.1em;
    
        border: 2px solid #5F2EEA;
        border-radius: 5px;
        color: #fff;;
    }

}


